.content-block{
    @extend .d-flex;
    @extend .align-items-center;
    @extend .justify-content-evenly;
    @extend .px-3;
    @extend .gap-3;

    font-size: $font-size-sm;
    width: fit-content;
    height: 80%;

    &__icon{
        height: 24px;
        width: 24px;
    }

    &--active{
        
        font-size: $font-size-primary;

        .content-block__icon{
            height: 30px;
            width: 30px;
        }
    }
}