@import "bootstrap/scss/bootstrap";
@import './variables.scss';

*,
*::before,
*::after{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.cursor-pointer{
    cursor: pointer;
}

a, button{
    cursor: pointer;
}

a{
    text-decoration: none;
}


@import '../common/components/index.scss';
@import '../components/index.scss';